body {
  width: 100%;
  height: 100%;
  margin: 0;
}

header {
  text-align: center;
}

figure {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-size: 11pt;
}

nav a {
  padding-left: 10px;
  padding-right: 10px;
  background-color: grey;
}

#featured-property p {
  margin: 0 auto;
  width: 800px;
  text-align: center;
}

#details div{
  display: block;
  float: left;
  text-align: center;
}
